@font-face {
    font-family: 'MyriadPro-Regular'; /*a name to be used later*/
    src: url('../fonts/MyriadPro-Regular.otf'); /*URL to font*/
}

html, body {
	overflow:hidden;
	font-family:MyriadPro-Regular;
	cursor: none;
}

.timeText {
	position: absolute;
	color:white;
	top:360;
	left:275; 
	z-index: 10;
	font-size : 12px;
}

a {
	-webkit-user-drag: none;
  	-khtml-user-drag: none;
  	-moz-user-drag: none;
  	-o-user-drag: none;
  	user-drag: none;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.layersText {
	position: absolute;
	color:white;
	top:360;
	left:608; 
	z-index: 10;
	font-size : 12px;
}

.infoLayers {
	position: absolute;
	color:white;
	top:340;
	left:597; 
	z-index: 10;
}

.infoTime {
	position: absolute;
	color:white;
	top:343;
	left:245; 
	z-index: 10;
}

.Layers {
	position: absolute;
	color:white;
	top:340;
	left:600; 
	z-index: 10;
}

.timePrintJob {
	position: absolute;
	color:white;
	top:340;
	left:275; 
	z-index: 10;
}

.closeButton {
	position: absolute;
	top:285;
	left:350; 
	z-index: 10;
}

.jobName {
	position: absolute;
	top:50;
	left:200; 
	color:#1CD785;
	font-size: 20;
}

.printText {
	position: absolute;
	top:220;
	left:423; 
	color:white;
	font-size: 25;
	
}

.play {
	position: absolute;
	top:270;
	left:425; 
	z-index: 10;
}

.pause {
	position: absolute;
	top:270;
	left:470; 
	z-index: 10	
}

.stop {
	position: absolute;
	top:270;
	left:515; 
	z-index: 10	
}
            .progress-circel {
            	position: absolute;
				top:140;
				left:374; 
 	 			width: 225px;
 				height: 225px;
 				z-index: 5;
				
            }

            .progress-circel > svg {
                height: 100%;
               
            }

.progressBarBackground {
	position: absolute;
	top:140;
	left:375; 
}

.disable {
	position: absolute; 
	top: 333px; 
	left: 230px;
}

.enable {
	position: absolute; 
	top: 333px; 
	left: 220px;
}

.motor {
	position: absolute; 
	top: 300px; 
	left: 250px;
}

.home {
	position: absolute; 
	top: 333px; 
	left: 660px;
}

.homing {
	position: absolute; 
	top: 270px; 
	left: 687px;
}

.oneDown {
	position: absolute; 
	top: 260px; 
	left: 423px;
}

.tenDown {
	position: absolute; 
	top: 260px; 
	left: 503px;
}

.oneUp {
	position: absolute; 
	top: 142px; 
	left: 383px;	
}

.tenUp {
	position: absolute; 
	top: 142px; 
	left: 463px;	
}

.fiveteenUp {
	position: absolute; 
	top: 142px; 
	left: 543px;	
}
.wifiButton{
	position: absolute; 
	top: 0px; 
	left: 45px;
}

.filesButton{
	position: absolute; 
	top: 200px; 
	left: 45px;
}

.controlsButton{
	position: absolute; 
	top: 340px; 
	left: 45px;
}


.homeButton{
	position: absolute; 
	top: 60px; 
	left: 45px;
}


.screen{
	width: 800px;
	height: 480px;
	background-image: url("../images/emptybackground.png");
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.main{
        height: 480px;
        max-height:480px;
        max-width: inherit;
        padding-bottom: 40px;
        padding-top: 40px;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.uilayer{
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	position: absolute; 
	top: 130px; 
	left: 230px;
}
.maintopconnector{
	position: absolute; 
	top: 108px; 
	left: 453px;
	animation-iteration-count: infinite;
	animation-name: fade;
	animation-duration: 2s;
	animation-direction: alternate;
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1s;
	-webkit-animation-direction: alternate;
	-webkit-animation-iteration-count: infinite;
	z-index: 2;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.mainmidconnector{
	position: absolute; 
	top: 226px; 
	left: 476px;
	animation-iteration-count: infinite;
	animation-name: fade;
	animation-duration: 2s;
	animation-direction: alternate;
	animation-delay: 0.3s;
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1s;
	-webkit-animation-direction: alternate;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-delay: 0.3s;
	z-index: 2;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.mainbotconnector{
	position: absolute; 
	top: 285px; 
	left: 439px;
	animation-iteration-count: infinite;
	animation-name: fade;
	animation-duration: 2s;
	animation-direction: alternate;
	animation-delay: 0.6s;
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1s;
	-webkit-animation-direction: alternate;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-delay: 0.6s;
	z-index: 2;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
		
@keyframes rotate{
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
@keyframes fade{
	from {
		opacity: 0.5;
	}
	to{
		opacity: 1;
	}
}
.time { 
	position: absolute; 
	top: 350px; 
	left: 75px; 
	color: white;
	text-align: center;
	font-size: large;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.wifi{
	position: absolute; 
	top: 5px; 
	left: 5px;
	width: 30px;
	height: 30px;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.printerstatus{
	position: absolute; 
	top: 20px; 
	left: 704px;
	width: 25px;
	height: 35px;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.updatestatus{
	position: absolute; 
	top: 20px; 
	left: 668px;
	width: 30px;
	height: 30px;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.info { 
	position: absolute; 
	top: 120px; 
	left: 600px; 
	color: white;
	font-size: 0;

	max-width: 140px;
	white-space: pre-wrap;      /* CSS3 */   
	white-space: -moz-pre-wrap; /* Firefox */   
	white-space: -o-pre-wrap;   /* Opera 7 */    
	word-wrap: break-word;      /* IE */
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.warn { 
	position: absolute; 
	top: 132px; 
	left: 580px;
	width:210px;
	color: red;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	z-index: 50;
}

		.title { 
			position: absolute; 
			top: 20px; 
			left: 200px;
			color: white;
			font-size: 30px;
			z-index: 2;
		}
		.printbutton { 
			position: absolute; 
			top: 315px; 
			left: 250px;
			width:300px;
			color: white;
			text-align: center;
			font-size: 30px;
			z-index: 2;
		}
		.printlabel { 
			position: absolute; 
			top: 120; 
			left: 130;
			width:60px;
			color: white;
			text-align: center;
			font-size: 30px;
			z-index: 2;
		}
		
		.printables {
			position: absolute; 
			top: 132px; 
			left: 250px;
			width:300px;
			
			background-color: transparent;
			color: white;
			font-size: 23px;
			border: none;
			padding: 5px;
			line-height: 1;
			border: 0;
			border-radius: 10px;
		}

		.deletecontainer { 
			position: absolute; 
			top: 132px; 
			left: 580px;
			width:76px;
			height:76px;
			color: white;
			text-align: center;
			font-size: 30px;
			z-index: 2;
		}
		
		.refresh_prints { 
			position: absolute; 
			top: 300px; 
			left: 140px;
			width:76px;
			height:76px;
			color: white;
			text-align: center;
			font-size: 30px;
			z-index: 2;
		}
		
		.delete {
			position: absolute;
			z-index: 5;
			user-drag: none; 
			user-select: none;
			-moz-user-select: none;
			-webkit-user-drag: none;
			-webkit-user-select: none;
			-ms-user-select: none;

		}
		
		.deletecheck {
			position: absolute; 
			top: 130px; 
			left: 560px;
			width:200px;
			height: 210px;
		}
		
		.deletequery{
			white-space: pre-wrap;      /* CSS3 */   
			white-space: -moz-pre-wrap; /* Firefox */   
			white-space: -o-pre-wrap;   /* Opera 7 */    
			word-wrap: break-word;      /* IE */
		}
		
		.deleteglyph {
			position: absolute;
			padding-top: 30%;
			top: 33%; 
			left: 30%;
			height: 33%;
			width: 33%;
			margin: 0 auto;
			user-drag: none; 
			user-select: none;
			-moz-user-select: none;
			-webkit-user-drag: none;
			-webkit-user-select: none;
			-ms-user-select: none;

		}
		



